.hero-section {
    background: linear-gradient(to right, rgba(28, 28, 28, 0.9), rgba(89, 89, 89, 0.9)),
                url('images/chhatrapatishivajimaharajterminus.webp') center/cover no-repeat;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
    position: relative;
    overflow: hidden;
    height: 100vh;
}
